*{
  box-sizing: border-box;
}
:root {
  --primary: #ffd968;
  --secondary: #ffffff;
  --terciary:#ffd8d8;
}
@font-face {
  font-family:  beth_ellen ;
  src: url('./fonts/beth_ellen/Beth-Ellen-2.0.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
@font-face {
  font-family: livvic-bold;
  src: url('./fonts/livvic-bold/livvic-bold.ttf');

}
@font-face {
  font-family: livvic;
  src: url('./fonts/livvic/Livvic-Regular.ttf');
}


.App {
  font-family: livvic;
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  background-image: url('./assets/2.png');
  background-size: cover;
  color:var(--primary);
  padding:  0 ;
  text-align: center;
  
  font-size: 24px;
}
.dotted{
  font-size: 72px;
  margin: 0;
  border: dashed var(--primary) 1px;
  width: 20%;
}
.text_maya{
  font-family: 'Beth Ellen', cursive;
  margin-left: -300px;
}
.img{
  width: 400px;
}

.img_container{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.white{
  color: var(--secondary);
}
.pink{
  color:var(--terciary);
  font-size: 27px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card_container{
  
  display: flex;
  align-content: center;
  margin-bottom: 20px;

}

.Text{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card{
  font-family: livvic;
  margin: 10px ;
  
  background-color: rgba(255, 255, 255, 0.192);
  padding: 10px ;
  
}

@media only screen and (max-width: 767px){
  .App{
    padding: 10px;
    background-position: center;
    width: 100vw;
    font-size: 16px;
  }

  .img{
    background-color: rgba(0,0,0,0);
    width: 80vw;
  }
  .card_container{
    flex-direction: column;
  }
  .text_maya{
    margin: 0;
  }
  .footer_link{
    width: 90vw;
    margin-bottom: 10px;
    font-size: 2vh;
  }
  .img_container{
    flex-direction: column;
  }
  .footer_container{
    padding: 5px;
    margin: -10px 10px;
    text-align: center;
    overflow-x: scroll;


  }
  .footer_container a{
    width: 100px;
  }
}
@media only screen and (max-width: 1200px){
  .App{
    padding: 10px;
  }
  .text_maya{
    margin: 10px;
  }
  .img_container{
    flex-direction: column;
  }



}